body {
  font-family: 'Inter', sans-serif;
}
.login-bg {
  background-image: url('https://placehold.co/1000x1200/e2e2e2/333333?text=Vitality+Hub');
  background-size: cover;
  background-position: center;
}

#login-error-modal {
  display: none; 
}
#login-error-modal.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
#login-error-modal > div {
  transform: translateY(0);
}
